<system.webServer>
     <handlers>
          <remove name="Python34_via_FastCGI"/>
          <add name="Python34_via_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\home\site\wwwroot\Python34\Python.exe|%SystemDrive%\Python34\Scripts\wfastcgi.py" resourceType="Either" />
     </handlers>
</system.webServer>